
:root{
    --mainColor:#c2c1c1f1;
    --secondaryColor:#fff;

    --borderColor:#747272bb;

    --mainText:black;
    --secondaryText:#4b5156;
}


html, body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Merriweather', serif;
}

p, li, span, label, input, textarea{
    color: var(--mainText);
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

a{
    text-decoration: none;
    color:#17a2b8;
}

ul{
    list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.s1{
    background-color: var(--mainColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1400px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border:1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;

    box-shadow: 17px 8px 42px 3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 17px 8px 42px 3px rgba(0,0,0,0.7);
    -moz-box-shadow: 17px 8px 42px 3px rgba(0,0,0,0.7);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

.dots-wrapper{
    display: flex;
}

#dot-1{
    background-color: rgb(177, 35, 35);    
}

#dot-2{
    background-color: rgb(182, 146, 27);    
}

#dot-3{
    background-color: rgb(12, 107, 12);    
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    box-shadow: 17px 8px 42px -28px rgba(0,0,0,0.7);
    -webkit-box-shadow: 17px 8px 42px -28px rgba(0,0,0,0.7);
    -moz-box-shadow: 17px 8px 42px -28px rgba(0,0,0,0.7);
}

.left-column{
    grid-area: left-column;
}

.right-column{
    grid-area: right-column;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}